[server]
Port    = 8888

[database]
Dbtype     = mysql
DbHost     = 127.0.0.1
DbPort     = 3306
DbUser     =
DbPassWord =
DbName     = dy_backend
LogLevel   = info

[redis]
UserServiceHost = 127.0.0.1
Port = 6379

[kafkaProducer]
UserServiceHost = 127.0.0.1
Port = 9092
RequireACKs = WaitForAll
Partitioner = NewRandomPartitioner
ReturnSuccesses = true

[kafkaConsumer]
UserServiceHost = 127.0.0.1
Port = 9092

[feed]
ListLength = 30

[oss]
Url             =
Bucket          =
BucketDirectory =
AccessKeyID     =
AccessKeySecret =


[video]
SavePath = ./userdata/
AllowedExts = .mp4,.wmv,.avi
UploadMaxSize = 1024  # 单位为MB

[user]
PasswordEncrypted = false  # 密码是否需要加密，目前暂时设定为false，即密码不加密入库

[log]
FileLogWritten = false # 是否要将Log写入文件
LogFilePath = "./logdata/logFile.txt" # 将Log写入哪一个文件

[rpcCS]
UserServiceHost = 127.0.0.1
UserServicePort = :50051
VideoServiceHost = 127.0.0.1
VideoServicePort = :50052
FavoriteServiceHost = 127.0.0.1
FavoriteServicePort = :50053
CommentServiceHost = 127.0.0.1
CommentServicePort = :50054
FollowServiceHost = 127.0.0.1
FollowServicePort = :50055
MessageServiceHost = 127.0.0.1
MessageServicePort = :50056

[rpcSD]
UserServiceHost = 127.0.0.1
UserServicePort = :50061
VideoServiceHost = 127.0.0.1
VideoServicePort = :50062
FavoriteServiceHost = 127.0.0.1
FavoriteServicePort = :50063
CommentServiceHost = 127.0.0.1
CommentServicePort = :50064
FollowServiceHost = 127.0.0.1
FollowServicePort = :50065
MessageServiceHost = 127.0.0.1
MessageServicePort = :50066